<!DOCTYPE html>
<html lang="tr">

<head>
  <title>ŞAFAK METAL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">

  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <%- include("partials/header") %>
  <!-- END header -->

  <div class="top-shadow"></div>
  <div class="inner-page">
    <div class="slider-item" style="background-image: url('images/foto-10.jpg'); background-size:cover; background-position: bottom left;">

      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
            <h1 class="pt-5"><span>Galeri</span></h1>
            <p class="mb-5 w-75 pl-0"></p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <section class="section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="card" style="width: 18rem; margin-top:2rem">
            <img src="images/foto-0.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Saç büküm</h5>
              <p class="card-text">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="card" style="width: 18rem; margin-top:2rem">
            <img src="images/slider-1.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Saç büküm</h5>
              <p class="card-text">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="card" style="width: 18rem; margin-top:2rem">
            <img src="images/foto-2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Saç büküm</h5>
              <p class="card-text">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir</p>
            </div>
          </div>
        </div>
      </div>
      <!--2. row -->
      <div class="row">
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="card" style="width: 18rem; margin-top:2rem">
            <img src="images/foto-3.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Saç büküm</h5>
              <p class="card-text">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="card" style="width: 18rem; margin-top:2rem">
            <img src="images/foto-4.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Saç büküm</h5>
              <p class="card-text">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="card" style="width: 18rem; margin-top:2rem">
            <img src="images/foto-5.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Saç büküm</h5>
              <p class="card-text">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir</p>
            </div>
          </div>
        </div>
      </div>
      <!-- 3.row -->
      <div class="row">
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="card" style="width: 18rem; margin-top:2rem">
            <img src="images/foto-6.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Saç büküm</h5>
              <p class="card-text">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="card" style="width: 18rem; margin-top:2rem">
            <img src="images/foto-7.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Saç kesim</h5>
              <p class="card-text">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir</p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 element-animate ">
          <div class="card" style="width: 18rem; margin-top:2rem">
            <img src="images/foto-8.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">Saç büküm</h5>
              <p class="card-text">Lorem Ipsum, dizgi ve baskı endüstrisinde kullanılan mıgır metinlerdir</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <%-include("partials/footer"); %>
  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/main.js"></script>

</body>

</html>