<!DOCTYPE html>
<html lang="tr">

<head>
  <title>ŞAFAK METAL</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Oxygen:400,700" rel="stylesheet">

  <link rel="stylesheet" href="css/animate.css">
  <link rel="stylesheet" href="css/owl.carousel.min.css">
  <link rel="stylesheet" href="css/jquery.fancybox.min.css">
  <link rel="stylesheet" href="fonts/ionicons/css/ionicons.min.css">
  <link rel="stylesheet" href="fonts/fontawesome/css/font-awesome.min.css">

  <!-- Theme Style -->
  <link rel="stylesheet" href="css/style.css">

</head>

<body>

  <%- include("partials/header") %>
  <!-- END header -->

  <div class="top-shadow"></div>
  <div class="inner-page">
    <div class="slider-item" style="background-image: url('images/foto-3.jpg');">

      <div class="container">
        <div class="row slider-text align-items-center justify-content-center">
          <div class="col-md-8 text-center col-sm-12 element-animate pt-5">
            <h1 class="pt-5"><span>Hakkımızda</span></h1>
            <p class="mb-5 w-75 pl-0">Şafak Metal</p>
          </div>
        </div>
      </div>

    </div>
  </div>
  <section class="section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-6 element-animate ">
          <div class="media block-6 d-block text-center">
            <div class="icon mb-3"><span class="ion-heart text-primary"></span></div>
            <div class="media-body">
              <h3 class="heading">Vizyonumuz</h3>
              <p>Şirketimiz; Müşterilerimizin vazgeçilmez iş ortağı, alanında ilk akla gelen marka,Sosyal sorumluluk bilince sahip ve
                bu değerlerini koruyan,güzide ülkemize dünya standartlarında bir hizmet verebilmeyi hedefler. </p>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 element-animate ">
          <div class="media block-6 d-block text-center">
            <div class="icon mb-3"><span class="ion-leaf text-primary"></span></div>
            <div class="media-body">
              <h3 class="heading">Misyonumuz</h3>
              <p>Şirketimiz; Dünyada gelişen son teknolojiyi kullanarak, sahip olduğu profesyonel insan kaynağıyla, müşteri memnuniyetini önceleyen kalite anlayışıyla ve ürettiği kreatif sektörel çözümleriyle, sektöründe fark yaratarak
                tercih edilen bir marka olmayı misyon edinmiştir.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- END section -->
  <section class="section">
    <div class="container">
      <div class="row mb-5 element-animate">
        <div class="col-12 text-center">
          <h4 class="heading">Hakkımızda</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4 element-animate">
          <img id="avatar" src="images/avatar.jpg" class="img-thumbnail" alt="info@safakmetal.com">
          <div id="sosyal_medya">
            <a href="https://www.facebook.com/kolesafak.safakmetal"><i id="facebook" class="fa fa-facebook-square"></i></a>
            <a href="https://www.linkedin.com/in/%C5%9Fafak-k%C3%B6le-b176255b/"><i id="linkedin" class="fa fa-linkedin"></i></a>
            <a href="https://www.instagram.com/safak_kole/"><i id="instagram" class="fa fa-instagram"></i></a>
          </div>
        </div>
        <div class="col-lg-8 col-md-8 element-animate">
          <p>
            Sac kesim büküm konularında uzun yıllara dayanan bilgi birikimi ve başta İkitelli O.S.B. olmak üzere İstanbul Avrupa yakasında geniş bir
            müşteri portföyü bulunan Şafak Metal kurucusu Şafak KÖLE, eski firmasındaki Faaliyetlerini artık yeni
            yerinde Şafak Metal adı altında sürdürmeye başladı.
          </p>
          <p>
            Şafak KÖLE; 4 metre boyunda tezgahlarıyla 16mm'e kadar CNC büküm, 3 metre boyunda tezgahlarıyla, 030mm`den 20mm`e kadar CNC Kesim faaliyetlerinin yanı sıra, NPI – NPU – SİYAH – GALVANİZ SACLAR – PROFİL – KÖŞEBENT malzeme satışı
            yaptıklarını, sac kesim bükümde kaliteli
            malzeme ile müşterilerinin taleplerine uygun hizmeti müşterileriyle buluşturmaktadır. Şafak Köle…
          </p>
          <p>
            Uzun yıllar Almanya’da çalıştıktan sonra 1996 yılında kesin dönüş yaparak İstanbul’a yerleşti. Kesim – büküm, sac ve demir ticareti yapan aile şirketinde çalışmaya başladı. Sektörle tanışıklığı ise 1984 yılına dayanıyor. Yaklaşık 11 yıl
            bu şirkette görev yaptıktan sonra 2007 yılının başlarında Şafak Metal adıyla kendi şirketini kurdu. Şafak Metal; profil, sac – demir ticareti yapıyor. 3 metre boyunda CNC tezgâhlarıyla 0.30 mm’den 20 mm’ye kadar makasla CNC kesim ve 4
            metre boyundaki makinemizle 16 mm’ye kadar CNC büküm yapan bir firma konumunda. Ayrıca firma çatısı altında NPI – NPU, siyah – galvaniz saclar, profil ve köşebent satışı yapılıyor. </p>
          <p>
            Uzun yıllar Almanya’da çalıştıktan sonra 1996 yılında kesin dönüş yaparak İstanbul’a yerleşti. Kesim – büküm, sac ve demir ticareti yapan aile şirketinde çalışmaya başladı. Sektörle tanışıklığı ise 1984 yılına dayanıyor. Yaklaşık 11 yıl
            bu şirkette görev yaptıktan sonra 2007 yılının başlarında Şafak Metal adıyla kendi şirketini kurdu. Şafak Metal; profil, sac – demir ticareti yapıyor. 3 metre boyunda CNC tezgâhlarıyla 0.30 mm’den 20 mm’ye kadar makasla CNC kesim ve 4
            metre boyundaki makinemizle 16 mm’ye kadar CNC büküm yapan bir firma konumunda. Ayrıca firma çatısı altında NPI – NPU, siyah – galvaniz saclar, profil ve köşebent satışı yapılıyor. </p>

          <p>Ticarette ilkeleri olan, üstlendiği işlerde kaliteden taviz vermeyen Şafak Metal’in kurucusu Şafak Köle, firmayla ilgili gelişmeleri bizimle paylaştı. "Dürüst çalışmayı ilke edindim" Kendi işimi kurmadan önce belirli kararlar aldım.
            İnandığım doğruları ticari hayatımın sonuna kadar yıkılmayacak şekilde tabulaştırdım ve şirketi ondan sonra kurdum. Çünkü geçmiş meslek yaşantımda gördüm ki; dürüstlükten, kaliteden, kanaatten taviz vermeyen kişi ve kurumlar uzun ömürlü
            oluyorlar. Kötü sürprizlerle karşılaşmıyorlar. Bu nedenle kaliteli hizmet, doğru ve temiz çalışmak, dürüstlükten ödün vermemek benim tabularım oldu.</p>

          <p>Hizmet Yelpazesi Yan sanayi, makine sanayi, inşaat, damper sanayi gibi sektörlere hizmet veriyoruz. Ağırlıklı olarak makine sektörüne hizmet veriyoruz. Hizmet vermiş olduğumuz sektörler, kaliteye ve iş disiplinine fazlasıyla önem
            veriyorlar. Dolayısıyla bizler de en az onlar kadar titiz ve dikkatli çalışıyoruz.
            Şu an hiçbir hatayı firmalara kabul ettiremezsiniz. Çünkü Türkiye’nin önü öyle açıldı ki, yurtdışına çok kaliteli makineler veriyoruz. Çalışmalarımızın %60’ını yurtdışına yönelik yapıyoruz. Bu nedenle kaliteyi takip etmek zorundayız,
            malzeme açısından dört dörtlük olmak zorundayız. Yurtdışı tecrübem olduğu için onların çalışma sistemlerini, ne istediklerini biliyorum. Alman prensibiyle yetiştim ve burada da aynı sistemi sürdürüyorum.</p>


        </div>
      </div>
    </div>
  </section>
  <%-include("partials/footer"); %>
  <!-- loader -->
  <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px">
      <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" />
      <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#f4b214" /></svg></div>

  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/owl.carousel.min.js"></script>
  <script src="js/jquery.waypoints.min.js"></script>
  <script src="js/jquery.fancybox.min.js"></script>
  <script src="js/main.js"></script>

</body>

</html>